html {

    font-size: 'Sf pro';
    font-size: medium;
}
h1{
    font-size: 4rem;
    margin-inline: 0;
    color: lightslategrey;
}
body{
    font: italic;
    font-size: 1.5rem;
    text-align: center;
    color: solid black;
}
main {
    margin 30px 80px;
    background: lightcoral;
}
h2{
    background: pink;
    font-size: medium;
    margin: 50px 0;    
}
ul {
    width: 370px;
    margin: 10px auto 50px auto;
    text-align: center;
    color: black;
}
li{
    margin: 16px;
}
